<h1 class="p-3 mb-2 bg-secondary text-white">List of people added</h1>

<div class="table-responsive-sm">
  <table
    class="table alifn-middle table-sm"
    [ngStyle]="{ width: '50%', 'margin-left': '325px' }"
  >
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>

    <tr
      *ngFor="let details of myDataArray"
      [ngStyle]="{
        'background-color': details.age <= 18 ? 'gainsboro' : 'white',
        color: 'black',
        'font-family': 'Lucida Sans'
      }"
    >
      <td>{{ details.name }}</td>
      <td>{{ details.age }}</td>
    </tr>

    <tr
      *ngFor="let i of users"
      [ngStyle]="{
        'background-color': i.age <= 18 ? 'gainsboro' : 'white',
        color: 'black',
        'font-family': 'Lucida Sans'
      }"
    >
      <td>{{ i.name }}</td>
      <td>{{ i.age }}</td>
    </tr>
  </table>
</div>

<!-- [ngStyle]="{
  'background-color': ' rgb(140, 230, 201)',
  height: '100%',
  width: '100%',
  padding: '0',
  margin: ' 0',
  position: 'absolute'
}" -->
