<!-- <div
  [ngStyle]="{
    'background-color': ' rgb(140, 230, 201)',
    height: '100%',
    width: '100%',
    padding: '0',
    margin: ' 0',
    position: 'absolute'
  }"
>
  <h1>List of people below 18 age</h1>
  <table [ngClass]="abc">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
    </tr>

    <tr *ngFor="let details of users">
      <ng-container *ngIf="details.age <= 18">
        <td>{{ details.id }}</td>
        <td>{{ details.name }}</td>
        <td>{{ details.age }}</td>
      </ng-container>
    </tr>
  </table>
</div> -->




<!-- <app-peopleadded></app-peopleadded> -->
<app-newuser></app-newuser>
